body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em;
}



.container {
    border: 1px solid black;
    border-radius: 25px;
    display: inline-block;
    font-family: 'Concert One', cursive;
    gap: 5px;
    background-color: #E7EFDC;
    text-align: center;
    margin: auto;
    padding: 1.25em;
}

.header {
    text-align: center;
}

.displayTop {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

#clear {
    line-height: 20px;
}

.display { 
    border: 1px solid blue;
    width: 60%;
    margin-left: 30px;
    height: 60px;
    background-color: #CEDEED;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
   
  

}

.previous {
    font-size: 20px;
}

.current {
    font-size: 30px;
}



.gridItem:hover {
    background-color: beige;
}

.calc-container {

    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-auto-rows: 70px;
    grid-gap: 10px;
    padding: 25px;
    margin-top: 0;

}

.gridItem {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
    background-color: #339CFF;
}